body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #333;
}

.about-section {
    padding: 100px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #2f2b4a;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(175, 173, 255) 0%, rgb(114, 112, 255) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 25vh !important;
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    opacity: 80%;
    scale: 1;
    transition: all 0.2s ease-in;
}

.footer-link:hover {
    opacity: 100%;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
