@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb;
}

.login-card {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.login-card .btn-primary {
    background: linear-gradient(45deg, rgb(175, 173, 255) 0%, rgb(114, 112, 255) 100%);
    color: white;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-align: center;
    border-radius: 0.375rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-card .btn-primary:hover {
    background-color: #4338ca;
}

.form-input {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem;
}

.form-input:focus {
    outline: 2px solid #6d28d9;
    outline-offset: 2px;
}