body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #333;
    overflow-y: auto; /* Enable vertical scrolling */
}

.privacy-section {
    padding: 100px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.privacy-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    color: #2f2b4a;
}

.privacy-section h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #7451eb;
}

.privacy-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.privacy-section ul {
    list-style: none;
    padding-left: 0;
}

.privacy-section ul li {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.privacy-section ul li::before {
    content: "•";
    color: #7451eb;
    margin-right: 10px;
}
