        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

        body {
            margin: 0;
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 500;
            padding-top: 90px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 60px;
            background-color: rgba(254, 254, 254, 0.8);
            backdrop-filter: blur(8px);
            border-bottom: 2px solid rgba(255, 255, 255, 0.8);
            padding: 0 20px;
            box-sizing: border-box;
        }

        .logo-container {
            margin-right: auto;
            padding-left: 20px;
        }

        .logo {
            width: 100px;
            height: auto;
        }

        .nav-links {
            display: flex;
            gap: 20px;
            margin-left: auto;
            padding-right: 20px;
        }

        .nav-link {
            position: relative;
            border: none;
            text-decoration: none;
            font-weight: bold;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 12px 24px;
            border-radius: 12px; /* Updated border-radius */
            color: var(--c-color); /* Ensure this variable is defined or replace it with a color value */
            background: linear-gradient(108deg, rgb(254, 254, 254) 0%, rgb(254, 254, 254) 100%);
            box-shadow: rgba(212, 212, 212, 0.1) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0.63695px 0.63695px -0.9375px, rgba(0, 0, 0, 0) 0px 1.9316px 1.9316px -1.875px, rgba(0, 0, 0, 0) 0px 5.10612px 5.10612px -2.8125px, rgba(0, 0, 0, 0) 0px 16px 16px -3.75px;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 16px;
            letter-spacing: 0.02em;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        .nav-link span {
            position: relative;
            z-index: 1;
        }
